/* Patrones Globales */

/* Eliminar margen por defecto del BODY */
body { margin: 0; overflow-x: hidden; }

/* Tipografía Única: Quicksand */
h1, h2, h3, h4, h5, h6, p, a, span, form, input, select, textarea, option, button, div { font-family: 'Quicksand', sans-serif; }

/* Propiedad display: block; a todas las cajas de estructura para que se comporten como cajas */
header, main, section, footer, aside, article, figure, figcaption, nav, div { display: block; }

/* Quitar margen que traen por defecto los títulos, subtítulos y párrafos */
h1, h2, h3, h4, h5, h6, p, figure { margin: 0; }



/* Estilo Propio */

/* Caja Main */
main { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; }







/* Zona de Media Queries */

/* Tablets */
@media only screen and (max-width: 1199px){

}

@media only screen and (max-width: 999px){
    
}

@media only screen and (max-width: 899px){
    
}

@media only screen and (max-width: 699px){
    
}

/* Móviles Grandes */
@media only screen and (max-width: 499px){
    
}

/* Móviles Pequeños */
@media only screen and (max-width: 399px){
    
}